[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/GSL"]
	path = external/GSL
	url = https://github.com/Microsoft/GSL.git
[submodule "external/fakeit"]
	path = external/fakeit
	url = https://github.com/eranpeer/FakeIt.git
[submodule "external/range-v3"]
	path = external/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/jet-live"]
	path = external/jet-live
	url = https://github.com/ddovod/jet-live.git
